
@media print {
.noprint{
  display: none;
}

.quitar, .print .esconder{
  display: none;
}
.name{
  position:relative;
  width:190;
  overflow:auto"
}


#printable-table.print .customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;

}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;

}
#printable-table.print #customers-anidada {
  display: none;
}
#printable-table.print .titulo{
  display: none;
}
#printable-table.print .title{
  display: none;
}
#printable-table.print .columna{
  width: 100%;
}
