
.printcustomers td, .printcustomers th {
  border: 1px solid #ddd;
  text-align: center;
  font-size: 26px;

}

#customers-anidada td, #customers-anidada th {
  border: 1px solid #ddd;
  text-align: center;
  font-size: 26px;
}

@media print {
.noprint{
  display: none;
}

.quitar{
  display: none;
}
.name{
  position:relative;
  width:200px;
  overflow:auto;
}

.title{
  display: none;
}
