.customers-header {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.printcustomers{
  width: 100%;
}

.printcustomers td, .printcustomers th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  font-weight: bold;
}

.printcustomers tr:nth-child(even){background-color: #f2f2f2;}

.printcustomers tr:hover {background-color: #ddd;}

.printcustomers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

#customers-anidada {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  width: 100%;
  border-collapse: collapse;
  display: none;
}

.customers-anidada td, .customers-anidada th {
  border: 1px solid #ddd;

  text-align: center;
  font-weight: bold;

  padding-top: 10px;
  padding-bottom: 10px;
  display: none;

}

#customers-anidada tr:nth-child(even){background-color: #f2f2f2;}

#customers-anidada tr:hover {background-color: #ddd; }

.customers-anidada th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: white;
  display: none;
}

body {
  display: block;
  margin: 50px;
}

h4{
  font-weight: normal;
}

.button {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 9px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {
  border-radius: 14px;
}

.titulo{
  display: none;
}
